albumentations==0.4.6
h5py==2.10.0
matplotlib==3.3.1
numpy==1.18.1
opencv_python==4.4.0.40
pandas==1.0.3
pyelastix==1.2
scikit_learn==1.2.2
segmentation_models==1.0.1
SimpleITK==2.2.1
tensorflow==1.15.0
